# Poetry
.venv/
dist/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Environment
.env

# Selenium
geckodriver.log
chromedriver.log

# IDE
.idea/
.vscode/
*.swp
*.swo 